GOOGLE_AI_API_KEY=tu_wklej_swoj_klucz_z_Google_AI_Studio

# Alternatywnie aplikacja rozpoznaje tez:
# GOOGLE_GENERATIVE_AI_API_KEY=tu_wklej_swoj_klucz_z_Google_AI_Studio
# GEMINI_API_KEY=tu_wklej_swoj_klucz_z_Google_AI_Studio
